<div class="about">
  <div class="container">
    <div class="codrops-top">
      <span class="left">miss the rain by<a href="mailto:dothanhlam@gmail.com">lam do</a></span>
        <span class="right">
          <a href="#/">
            <strong>back></strong>
          </a>
        </span>
        <span class="right">
          <ul>
            <li><a class="fa fa-facebook-square"></a></li>
            <li><a class="fa fa-google-plus-square"></a></li>
            <li><a class="fa fa-twitter-square"></a></li>
            <li><a class="fa fa-instagram"></a></li>
          </ul>
        </span>
    </div><!--/ Codrops top bar -->
    <div class="centered">
      <span>
        dedicated to my sweeties memories <h3><strong>in the rain</strong></h3>
        ... enjoy with headphone for your own passion
      </span>
    </div>
  </div>
</div>
